# This file is a "template" of what your parameters.yml file should look like
parameters:
    mongodb_host: mongodb://localhost:27017
    mongodb_database: mxtorrent

    transmission_host: 127.0.0.1
    transmission_port: 9091
    remote_servers:
        - http://torrent.massimo.me/

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    secret:            AppSecret